# Dependencies
node_modules
package-lock.json

# Build outputs
build
dist
coverage

# Migration files (generated)
database/migrations

# Config files
*.config.js
.eslintrc.js

# Test coverage
coverage